<div class="container mt-5">
  <h1 class="mb-4">User Profile</h1>

  <dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9"><%= @user["name"] %></dd>

    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9"><%= @user["email"] %></dd>
  </dl>

  <a href="/" class="btn btn-secondary">Back to Home</a>
</div>
