<div class="container mt-5">
  <h1 class="mb-4">Places I've Visited</h1>

  <% if @current_user == nil %>
    <div class="alert alert-warning" role="alert">
      Please log in first to view places.
    </div>
  <% else %>
    <ul class="list-unstyled">
      <% @places.each do |place| %>
        <li class="mb-2">
          <a href="/places/<%= place["id"] %>" class="text-primary text-decoration-underline">
            <%= place["name"] %>
          </a>
        </li>
      <% end %>
    </ul>

    <p class="mt-3">
      <a href="/places/new" class="btn btn-primary">New Place</a>
    </p>
  <% end %>
</div>
